<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>demo09 表单输入绑定</title>
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
</head>

<body>
    <p>你可以用 v-model 指令在表单 &lt;input&gt; 及 &lt;textarea&gt; 元素上创建双向数据绑定。</p>
    <div id="app01">
        <input v-model="message" placeholder="edit me">
        <p>Message is: {{ message }}</p>
    </div>
    <script>
    new Vue({
        el: '#app01',
        data: { message: 'default value' }
    });
    </script>
    <hr>
    <div id="app02">
        <span>Multiline message is:</span>
        <p style="white-space: pre-line;">{{ message }}</p>
        <br>
        <textarea v-model="message" placeholder="add multiple lines"></textarea>
    </div>
    <script>
    new Vue({
        el: '#app02',
        data: { message: '' }
    });
    </script>
    <hr>
    <div id="app03">
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>
    </div>
    <script>
    new Vue({
        el: '#app03',
        data: { checked: true }
    });
    </script>
    <hr>
    <div id="app04">
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>
    </div>
    <script>
    new Vue({
        el: '#app04',
        data: { checkedNames: [] }
    });
    </script>
    <hr>
    <div id="app05">
        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>
    </div>
    <script>
    new Vue({
        el: '#app05',
        data: {
            picked: ''
        }
    });
    </script>
    <hr>
    <div id="app06">
        <select v-model="selected">
            <option disabled value="">请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>
    <script>
    new Vue({
        el: '#app06',
        data: {
            selected: ''
        }
    });
    </script>
    <hr>
    <div id="app07">
        <select v-model="selected" multiple style="width: 50px;">
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <br>
        <span>Selected: {{ selected }}</span>
    </div>
    <script>
    new Vue({
        el: '#app07',
        data: {
            selected: []
        }
    });
    </script>
    <hr>
    <div id="app08">
        <select v-model="selected">
            <option v-for="option in options" v-bind:value="option.value">
                {{ option.text }}
            </option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>
    <script>
    new Vue({
        el: '#app08',
        data: {
            selected: 'A',
            options: [
                { text: 'One', value: 'A' },
                { text: 'Two', value: 'B' },
                { text: 'Three', value: 'C' }
            ]
        }
    });
    </script>
    <hr>
    <div id="app09">
        <div>
            <!-- 当选中时，`picked` 为字符串 "a" -->
            <input type="radio" v-model="picked" value="a">
            <input type="radio" v-model="picked" value="b">
            <span>picked:{{picked}}</span>
        </div>
        <div>
            <!-- `toggle` 为 true 或 false -->
            <input type="checkbox" v-model="toggle">
            <span>toggle:{{toggle}}</span>
        </div>
        <!-- 当选中第一个选项时，`selected` 为字符串 "abc" -->
        <select v-model="selected">
            <option value="abc">ABC</option>
            <option value="def">DEF</option>
        </select>
        <span>select:{{selected}}</span>
    </div>
    <script>
    new Vue({
        el: '#app09',
        data: {
            picked: 'a',
            toggle: true,
            selected: 'default value',
        }
    });
    </script>
    <hr>
    <p>有时我们可能想把值绑定到 Vue 实例的一个动态属性上，这时可以用 v-bind 实现，并且这个属性的值可以不是字符串。</p>
    <div id="app10">
        <input type="radio" v-model="picked" v-bind:value="a">
        <input type="radio" v-model="picked" v-bind:value="b">
        <span>picked:{{picked}}</span>
    </div>
    <script>
    new Vue({
        el: '#app10',
        data: {
            picked: '',
            a: { value: 'A' },
            b: { value: 'B' }
        }
    });
    </script>
    <hr>
    <div id="app11">
        <input type="checkbox" v-model="toggle" true-value="yes" false-value="no">
        <span>toggle:{{toggle}}</span>
    </div>
    <script>
    new Vue({
        el: '#app11',
        data: {
            toggle: ''
        }
    });
    </script>
    <hr>
    <div id="app12">
        <select v-model="selected">
            <!-- 内联对象字面量 -->
            <option v-bind:value="{ number: 123 }">123</option>
            <option v-bind:value="{ number: 456 }">456</option>
        </select>
        <span>selected:{{selected}}</span>
    </div>
    <script>
    new Vue({
        el: '#app12',
        data: {
            selected: ''
        }
    });
    </script>
    <hr>
    <p>添加 .lazy 修饰符，从而转变为使用 change 事件进行同步</p>
    <div id="app13">
        <!-- 在“change”时而非“input”时更新 -->
        <input v-model.lazy="msg">
        <span>.lazy--&gt;{{msg}}</span>
    </div>
    <script>
    new Vue({
        el: '#app13',
        data: {
            msg: ''
        }
    });
    </script>
    <hr>
    <div id="app14">
        <input v-model.number="age" type="number">
        <span>{{typeof age}} type of {{age}}</span>
    </div>
    <script>
    new Vue({
        el: '#app14',
        data: {
            age: ''
        }
    });
    </script>
    <hr>
    <div id="app15">
        <input v-model.trim="msg">
        <span>.trim--&gt;'{{msg}}'</span>
    </div>
    <script>
    new Vue({
        el: '#app15',
        data: {
            msg: ''
        }
    });
    </script>
</body>

</html>